body
{
    background: cornflowerblue;
}
.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

/* .box .bar
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 500px;
    height: 72px;
    padding-right: 50px;
    border-radius: 50px;
}
.box .bar li
{
    list-style: none;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    margin: 0 7px;
    cursor: pointer;
    padding-right: 0px;
}
.box .bar li img
{
    border-radius: 4px;
} */