@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;

  --white-color: #fff;
  --black-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--white-color);
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid var(--white-color);
}

.showcase {
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 400px;
}

.showcase .grid {
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase h2 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase-form {
  width: 400px;
  height: 350px;
  padding: 40px; 
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 1rem;
}

.showcase-form input:focus {
  outline: none;
}



